{% extends 'base_index.html' %}
{% load static %}
{% block content %}
{% if main_series %}
<div class="container-fluid py-4">
<ul>
    {% for series in main_series %}
    <div class="row">
        <h1>{{series.title}}</h1>
    </div>
        <li>
            {% comment %} <a href = "{% url 'series_course' series.id %}"> {% endcomment %}
                
            {% comment %} </a> {% endcomment %}
            <ul>
                {% for course in series.courses %}
                    {% if forloop.counter <= 8 %}
                        <li>{{course.title}}</li>
                        {{course.instructor}}
                    {% endif %}
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>
{% else %}
<p>no series</p>
{% endif %}
{% endblock %}