{% extends 'base_index.html' %}
{% load static %}
{% block content %}
{% if series %}

<div class="container-fluid py-4" style="padding: 0 200px">
    
    <div style="padding: 50px 0">
        <div style="padding-bottom: 30px">
            <h1 style="display: inline">{{series.title}}</h1>
            <div class="btngr" role="group" style="display: inline; padding-left: 50px">
                {% for tag in series_tags %}
                <button type="button" class="btn btn-primary rounded-pill me-2 btn-sm">{{tag}}</button>
                {% endfor %} 
            </div> 
        </div>
        <div class="row">
            {% for course in matching_courses %}
                {% if forloop.counter <= 20 %}
                <div class="col-xl-3 col-sm-1-2 mb-xl-0 mb-4" style="padding:20px">
                    <div class="card">
                        <div class="card-body p-3">
                            <a href={{ course.url }}>
                                <div class="row">
                                    <img class="border-radius-lg" src={{course.thumbnail_url}}>
                                    <div class="numbers">
                                        <p class="text-sm mb-0 text-uppercase font-weight-bold">{{course.site}}</p>
                                        <h6 class="font-weight-bolder">
                                            {{ course.title }}
                                        </h6>
                                        <p class="mb-0">
                                            <span class="text-success text-sm font-weight-bolder">₩{{course.price}}</span>
                                            {{course.instructor}}
                                        </p>
                                    </div>
                                </div>
                            </a>
                            {% if request.user.is_authenticated %}
                            <button class="like-button" data-course-id="{{ course.id }}" style="border: 0; background-color: pink; border-radius:30px; color: white">Like</button>
                            <span class="like-count" data-course-id="{{ course.id }}">0</span> 명이 좋아요
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>


    {% comment %} 시리즈 상세페이지 페이지네이션 수정 필요 {% endcomment %}




        {% comment %} <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if courses.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?course_page=1&tag_page={{ all_tags.number }}{% if selected_tags %}&tags={{ selected_tags|join:',' }}{% endif %}{% if tag_query %}&tag_query={{ tag_query }}{% endif %}">
                    <span aria-hidden="true"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>  
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?course_page={{ courses.previous_page_number }}&tag_page={{ all_tags.number }}{% if selected_tags %}&tags={{ selected_tags|join:',' }}{% endif %}{% if tag_query %}&tag_query={{ tag_query }}{% endif %}" tabindex="-1">
                    <i class="fa fa-angle-left"></i>
                    <span class="sr-only">Previous</span>
                    </a>
                </li>
            {% endif %}

            {% for i in courses.paginator.page_range %}
                {% if courses.number|add:"-3" <= i and i <= courses.number|add:"2" %}
                    <li class="page-item {% if courses.number == i %}active{% endif %}">
                        <a class="page-link" href="?course_page={{ i }}&tag_page={{ all_tags.number }}{% if selected_tags %}&tags={{ selected_tags|join:',' }}{% endif %}{% if tag_query %}&tag_query={{ tag_query }}{% endif %}">{{ i }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if courses.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?course_page={{ courses.next_page_number }}&tag_page={{ all_tags.number }}{% if selected_tags %}&tags={{ selected_tags|join:',' }}{% endif %}{% if tag_query %}&tag_query={{ tag_query }}{% endif %}">
                    <i class="fa fa-angle-right"></i>
                    <span class="sr-only">Next</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?course_page={{ courses.paginator.num_pages }}&tag_page={{ all_tags.number }}{% if selected_tags %}&tags={{ selected_tags|join:',' }}{% endif %}{% if tag_query %}&tag_query={{ tag_query }}{% endif %}">
                    <span aria-hidden="true"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav> {% endcomment %}

    
    
    
    
    
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            function updateLikeCount(courseId) {
                const likeCountUrl = `/courses/${courseId}/likes/count/`;

                $.get(likeCountUrl, (response) => {
                    $(`.like-count[data-course-id="${courseId}"]`).text(response.like_count);
                });
            }

            $('.like-count').each(function() {
                const courseId = $(this).data('course-id');
                updateLikeCount(courseId);
            });

            $('.like-button').on('click', function() {
                const courseId = $(this).data('course-id');
                const userId = {{ request.user.id }};
                const likeUrl = `/courses/${courseId}/likes/`;

                $.ajax({
                    method: 'POST',
                    url: `/courses/${courseId}/likes/check/`,
                    data: { user_id: userId },
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    success: function(response) {
                        if (response.check === 1) {
                            $.ajax({
                                method: 'POST',
                                url: `/courses/${courseId}/dislikes/`,
                                data: { user_id: userId },
                                headers: {
                                    'X-CSRFToken': '{{ csrf_token }}'
                                },
                                success: function() {
                                    updateLikeCount(courseId);
                                }
                            });
                        } else {
                            $.ajax({
                                method: 'POST',
                                url: likeUrl,
                                data: { user_id: userId },
                                headers: {
                                    'X-CSRFToken': '{{ csrf_token }}'
                                },
                                success: function() {
                                    updateLikeCount(courseId);
                                }
                            });
                        }
                    }
                });
            });
        });
    </script>
{% else %}
<p>no series</p>
{% endif %}
{% endblock %}