{% extends 'base_detail.html' %}
{% load static %}
{% block content %}
{% if courses %}
<div class="ms-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent mb-0 pb-3 pt-1 px-0 me-sm-6 me-5">
            <h4>Tags</h4>
        </ol>
        {% if selected_tags_name %}
        <div class="btn-group" role="group" >
            {% for tag in selected_tags_name %}
            <button type="button" class="btn btn-primary rounded-pill me-2 btn-sm">{{ tag.name }}</button>
            {% endfor %}
        </div>
        {% else %}
            <button disabled=true type="button" class="btn btn-secondary rounded-pill me-2 btn-sm">없음</button>
        {% endif %}
    </nav>
</div>
    <div class="container-fluid py-4">
        <div class="row">
            <h3>강의</h3>
        </div>
        <div class="row">
        {% for course in courses %}
        
            <div class="col-xl-2 col-sm-1-2 mb-xl-0 mb-4" style="padding:20px">
                <div class="card">
                <div class="card-body p-3">
                    <div class="row">
                        <img class="border-radius-lg" src={{course.thumbnail_url}}>
                        <div class="numbers">
                        <p class="text-sm mb-0 text-uppercase font-weight-bold">{{course.site}}</p>
                        <h6 class="font-weight-bolder">
                            <a href={{ course.url }}>{{ course.title }}</a>
                        </h6>
                        <p class="mb-0">
                            <span class="text-success text-sm font-weight-bolder">₩{{course.price}}</span>
                            {{course.instructor}}
                        </p>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        
        {% endfor %}
        </div>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
        {% if courses.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?course_page=1&tag_page={{ all_tags.number }}{% if selected_tags %}&tags={{ selected_tags|join:',' }}{% endif %}{% if tag_query %}&tag_query={{ tag_query }}{% endif %}" aria-label="Previous">
                <span aria-hidden="true"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?course_page={{ courses.previous_page_number }}&tag_page={{ all_tags.number }}{% if selected_tags %}&tags={{ selected_tags|join:',' }}{% endif %}{% if tag_query %}&tag_query={{ tag_query }}{% endif %}" tabindex="-1">
                <i class="fa fa-angle-left"></i>
                <span class="sr-only">Previous</span>
                </a>
            </li>

        {% endif %}
            <div class="pagination" style="text-align: center">
                <span class="step-links">
                    <span class="current">
                        {{ courses.number }} / {{ courses.paginator.num_pages }}
                    </span>
                </span>
            </div>

        {% if courses.has_next %}
            <li class="page-item">
                <a class="page-link" href="?course_page={{ courses.next_page_number }}&tag_page={{ all_tags.number }}{% if selected_tags %}&tags={{ selected_tags|join:',' }}{% endif %}{% if tag_query %}&tag_query={{ tag_query }}{% endif %}">
                    <i class="fa fa-angle-right"></i>
                    <span class="sr-only">Next</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?course_page={{ courses.paginator.num_pages }}&tag_page={{ all_tags.number }}{% if selected_tags %}&tags={{ selected_tags|join:',' }}{% endif %}{% if tag_query %}&tag_query={{ tag_query }}{% endif %}" aria-label="Next">
                    <span aria-hidden="true"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                </a>
            </li>
        {% endif %}
        </ul>
      </nav>

{% else %}
    <p>강의가 없습니다.</p>
{% endif %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            function updateLikeCount(courseId) {
                const likeCountUrl = `/courses/${courseId}/likes/count/`;

                $.get(likeCountUrl, (response) => {
                    $(`.like-count[data-course-id="${courseId}"]`).text(response.like_count);
                });
            }

            $('.like-count').each(function() {
                const courseId = $(this).data('course-id');
                updateLikeCount(courseId);
            });

            $('.like-button').on('click', function() {
                const courseId = $(this).data('course-id');
                const userId = {{ request.user.id }};
                const likeUrl = `/courses/${courseId}/likes/`;

                $.ajax({
                    method: 'POST',
                    url: `/courses/${courseId}/likes/check/`,
                    data: { user_id: userId },
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    success: function(response) {
                        if (response.check === 1) {
                            $.ajax({
                                method: 'POST',
                                url: `/courses/${courseId}/dislikes/`,
                                data: { user_id: userId },
                                headers: {
                                    'X-CSRFToken': '{{ csrf_token }}'
                                },
                                success: function() {
                                    updateLikeCount(courseId);
                                }
                            });
                        } else {
                            $.ajax({
                                method: 'POST',
                                url: likeUrl,
                                data: { user_id: userId },
                                headers: {
                                    'X-CSRFToken': '{{ csrf_token }}'
                                },
                                success: function() {
                                    updateLikeCount(courseId);
                                }
                            });
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}
