{% load static %}

<!-- Navbar -->
<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur" data-scroll="false">
    <div class="container py-1 px-3">
      <div class="col-2">
        <!--
          # TODO :: 변경 사항 생기면서 수정 작업 필요
        -->
        {% comment %} <a href ={% url 'courses:index' %}> {% endcomment %}
        <img src="{% static 'img/logo_blue.png' %}" class="border-radius-xl" width=250 />
      </div>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
          <li class="breadcrumb-item text-sm"><a class="opacity-5 text-white" href="javascript:;">Pages</a></li>
          {% comment %} <li class="breadcrumb-item text-sm text-white active" aria-current="page">전체 강의</li> {% endcomment %}
        </ol>
        <h6 class="font-weight-bolder text-white mb-0">전체 강의 보기</h6>
      </nav>
      <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
        <div class="ms-md-auto pe-md-3 d-flex align-items-center">
          <div class="input-group">
            {% comment %} <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
            <input type="text" class="form-control" placeholder="Type here..."> {% endcomment %}
          </div>
        </div>
        <ul class="navbar-nav  justify-content-end">
          {% if user.is_authenticated %} 
          <li class="nav-item d-flex align-items-center" style="padding-right: 20px">
            <a href="javascript:;" class="nav-link text-white font-weight-bold px-0">
              <i class="fa fa-user me-sm-1"></i>
              <span class="d-sm-inline d-none"><a href="{% url 'logout' %}"><b>{{user.username}}</b>님 Sign Out</a></span>
            </a>
          </li>
          {% else %}
          <li class="nav-item d-flex align-items-center" style="padding-right: 20px">
            <a href="javascript:;" class="nav-link text-white font-weight-bold px-0">
              <i class="fa fa-user me-sm-1"></i>
              <span class="d-sm-inline d-none"><a href="{% url 'signup' %}">Sign Up</a></span>
            </a>
          </li>
          <li class="nav-item d-flex align-items-center" style="padding-right: 20px">
            <a href="javascript:;" class="nav-link text-white font-weight-bold px-0">
              <i class="fa fa-user me-sm-1"></i>
              <span class="d-sm-inline d-none"><a href="{% url 'login' %}">Sign In</a></span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
