{% load static %}
<div class="min-height-100 bg-primary position-absolute w-100"></div>
    <aside class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 " id="sidenav-main">
<form method="get" action="{% url 'courses:total_course' %}">
    {% for tag in all_tags %}
        <div class="form-check" style="margin-left: 30px">
            <input class="form-check-input" type="checkbox" name="tags" value="{{ tag.id }}" id="tag{{ tag.id }}" {% if tag.id in selected_tags %}checked{% endif %}>
            <label class="custom-control-label" for="tag{{ tag.id }}">{{ tag.name }}</label>
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">필터 적용</button>
</form>
    </aside>